*{
    margin: 0;
    padding: 0px;
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    margin-right: 250px;
    /*justify-content: space-between;*/
    width: 100%;
    height: 10vh;
    font-size: medium;
    margin-right: 20px;
   
    
}
.nav-list{
    display: flex;
    flex-direction: row;
    color: black;
    text-decoration: none;
    justify-content: space-between;
}
.navbar a {
    text-decoration: none; 
    color: black; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }
  .navbar li {
    list-style: none; 
    margin-right: 50px; 
    background-color: white;
  }

input{
    padding: 0px;
    width:100%;
    height:100%;
    background: transparent;
    outline:none;
    border:2px solid rgba(255,255,255, .2);
    border-radius: 40px;

}
.search-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    border: 2px solid black;
    border-radius: 20px;
    height: 25px;
    width: 300px;
    margin-left: 15px;
    margin-right: 20px;
}
.logo {
    margin-left: 50px;
    background-color: white;
    margin-right: 50px;
  
}
.navLoginBtn{
    background-color: transparent;
    border: none;
    cursor: pointer;

}
.cart {
    background-color: white;
  
}
.counter{
    width: 22px;
    height: 22px ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    margin-left: 105px;
    border-radius: 11px;
    font-size: 14px;
    background: brown;
    color: white;



}